@font-face {
  font-family: GangwonEduHyeonokT;
  font-style: normal;
  font-weight: normal;
  src: url(./GangwonEduHyeonokT.ttf) format("truetype");
}

body {
  font-family: 'GangwonEduHyeonokT', sans-serif;
}